body {
    background: url("../img/fondo.jpg");
    background-size:85% 100%;
    background-repeat: repeat !important;
	margin-left: 1cm !important;
	margin-top: 1cm !important;
}
pre, h3, h2{
  text-align: center;
}
span{
	font-size: 14px !important;
}

#transiciones{
	margin-left: 15% !important;
}

i.informacionAuxiliar{
	font-size:9px !important; 
}
i.ejemplo{
	color: #32a028 !important; /*verde oscuro*/
	font-size:13px !important;
}
b.ejemploPlantilla{
	color:red !important;
}

b.palabraAceptada{
	color:green !important;
}

b.palabraRechazada{
	color:red !important;
}